/* app css stylesheet */

.utilPanel {
	width: 100%;
    bottom: 21px;
    position: absolute;
    background-color: #bdc3c7;
    border: 1px solid black;
    padding: 10px;
    z-index: 99999;
}

.noLink {
    text-decoration: none;
    color: #333;
}

.noLink:hover {
    text-decoration: none;
    color: #337ab7;
}

.img-circle {
    border-radius: 50%;
}

.greenText {
    color: green;
}

.bottomPanel {
    border-right: 1px solid black;
    position: fixed;
    bottom: 0px;
    padding: 30px;
    border-top: 1px solid black;
    width: 72%;
    background-color: white;
    text-align: center;
    z-index: 99999;
}

.backdrop {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.redText {
    color: red;
}

.text-center {
    text-align: center;
}

.karma {
	display: none;
}

.indice75 {
    color: #27ae60;
}

.indice50 {
    color: #f39c12;
}

.indice25 {
    color: #d35400;
}

.indice0 {
    color: #c0392b;
}

.rightPanel {
	background-color: white;
    position: absolute;
    right: 0px;
    color: black;
    height: 100%;
    top: 0px;
    width: 15%;
    overflow-y: auto;
}

.rightWidget > .sidebar-nav li a:hover {
	color: black;
	background-color: #ecf0f1;
}

.rightWidget {
	border: 2px solid #bdc3c7;
    padding: 5px;
    margin-bottom: -2px;
}

.rightWidget > .title {
	border: 2px solid #bdc3c7;
    margin: -7px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}