<p class="karma">karma_stock</p>
<div class="col-lg-12">
	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Processeurs <button data-toggle="modal" ng-click="system._.commandeType=1" data-target="#stockModal" class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Fréquence</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Intel Core i7 4680k</td>
				            <td>3.40 Ghz</td>
				            <td style="color: green">79%</td>
				            <td>87%</td>
				            <td>42</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Mémoire <button data-toggle="modal" ng-click="system._.commandeType=2" data-target="#stockModal" class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Fréquence</th>
				            <th>Capacité</th>
				            <th>Format</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Kingston VR4096MBCHS3</td>
				            <td>1333 Mhz</td>
				            <td>4 GO</td>
				            <td>DDR3</td>
				            <td style="color: green">57%</td>
				            <td>81%</td>
				            <td>9</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Disques dur <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>SSD</th>
				            <th>Capacité</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Segate 1000VB33HSB</td>
				            <td style="color: green"><i class="fa fa-check"></i></td>
				            <td>1 TO</td>
				            <td style="color: green">61%</td>
				            <td>90%</td>
				            <td>12</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Cartes mère <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Socket</th>
				            <th>Format DIMM</th>
				            <th>Fréquence mémoire</th>
				            <th>Ports SATA</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Asus P9B</td>
				            <td>LGA2011</td>
				            <td>DDR3</td>
				            <td>1333 Mhz</td>
				            <td>4</td>
				            <td style="color: green">68%</td>
				            <td>72%</td>
				            <td>5</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Blocs d'alimentation <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Format</th>
				            <th>Consommation</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Corsair 11T9Y</td>
				            <td>ATX</td>
				            <td>600 W</td>
				            <td style="color: green">46%</td>
				            <td>90%</td>
				            <td>8</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Boitiers <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Format</th>
				            <th>Couleur</th>
				            <th>Ventilateurs</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>CoolerMaster MX12B</td>
				            <td>ATX</td>
				            <td>Noir</td>
				            <td>4</td>
				            <td style="color: green">62%</td>
				            <td>90%</td>
				            <td>2</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Lecteurs DVD/BD <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Type</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>Pioneer BD12PT</td>
				            <td>Blueray</td>
				            <td style="color: green">63%</td>
				            <td>90%</td>
				            <td>2</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">Cartes graphique <button class="btn btn-sm btn-success pull-right"><i class="fa fa-shopping-cart"></i> Commander</button><div class="clearfix"></div></div>
		  	<div style="max-height:300px; overflow-y: auto">
			  	<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Modèle</th>
				            <th>Mémoire</th>
				            <th>Sorties vidéo</th>
				            <th>Indice perf.</th>
				            <th>Pop.</th>
				            <th>Qté.</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th scope="row">1</th>
				            <td>GTX 1080Ti</td>
				            <td>11 GO</td>
				            <td>4</td>
				            <td style="color: green">87%</td>
				            <td>90%</td>
				            <td>2</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel">
	<div class="modal-dialog" style="width: 80%" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="stockModalLabel">Commandes - 
				<span ng-show="system._.commandeType===1">Processeurs</span>
				<span ng-show="system._.commandeType===2">Mémoire</span>
				</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
				    <li style="cursor: pointer; cursor: hand;" ng-click="system._.routines.changeTabTo(0)" ng-class="{'active': system._.tabs.fournisseur}"><a><i class="fa fa-truck"></i> Fournisseur</a></li>
				    <li style="cursor: pointer; cursor: hand;" ng-click="system._.routines.changeTabTo(1)" ng-class="{'active': system._.tabs.amazon}"><a><i class="fa fa-amazon"></i> Amazonne</a></li>
				</ul>

				<div class="tab-content">
				    <div class="tab-pane" ng-class="{'active': system._.tabs.fournisseur}">
				    	<div style="padding: 10px;">
				    		<div class="alert alert-info" role="alert">Info ! La commande par fournisseur permet d'avoir des prix plus avantageux et des délais d'expédition plus courts, mais une quantité <b>minimum</b> doit être commandée. De plus, vous devrez être présent pour vous occuper de la récéption des marchandises.</div>
				    		<div style="max-height: 300px; overflow-y: auto">
					    		<table class="table table-striped">
								    <thead>
								        <tr>
								            <th ng-repeat="header in system.view.modal.getHeaders(system._.commandeType)">{{header}}</th>
								        </tr>
								    </thead>
								    <tbody>
								        <tr ng-repeat="item in system.view.modal.getData(system._.commandeType)">
								            <th scope="row">{{$index + 1}}</th>
								            <td ng-repeat="field in item.fields" class="{{system.view.modal.displayField(field, 0, system.view.modal.getHeaders(system._.commandeType)[$index + 1]).class}}">{{system.view.modal.displayField(field, 0, system.view.modal.getHeaders(system._.commandeType)[$index + 1]).value}}</td>
								            <td>
								            	<div class="input-group add-on" ng-show="item._.wantBuy[0]" style="width: 100px">
													<input class="form-control" type="number" ng-model="item._.qte">
													 <div class="input-group-btn">
												        <button class="btn btn-success" ng-click="system.view.modal.buy(item, system.view.modal.getHeaders(system._.commandeType), 0)"><i class="fa fa-shopping-cart"></i></button>
												      </div>
												</div>
								            	<button ng-show="!item._.wantBuy[0]" ng-click="item._.wantBuy[0] = !item._.wantBuy[0]" class="btn btn-success btn-sm"><i class="fa fa-cart-arrow-down"></i> Acheter</button>
								            </td>
								        </tr>
								    </tbody>
								</table>
							</div>
				    	</div>
				    </div>

				    <div class="tab-pane" ng-class="{'active': system._.tabs.amazon}">
				        <div style="padding: 10px;">
				        	<div class="alert alert-info" role="alert">Info ! Les produits commandés sur Amazonne ont un prix plus élevé et ont un délai d'expédition plus long, mais vous pouvez commander les pièces à l'unité. Vous n'aurez pas à être présent pour la reception des marchandises, celles-ci seront placées dans votre boite aux lettres.</div>
				        	<div style="max-height: 300px; overflow-y: auto">
					        	<table class="table table-striped">
								    <thead>
								       <tr>
								            <th ng-repeat="header in system.view.modal.getHeaders(system._.commandeType)">{{header}}</th>
								        </tr>
								    </thead>
								    <tbody>
								       <tr ng-repeat="item in system.view.modal.getData(system._.commandeType)">
								            <th scope="row">{{$index + 1}}</th>
								            <td ng-repeat="field in item.fields" class="{{system.view.modal.displayField(field, 1, system.view.modal.getHeaders(system._.commandeType)[$index + 1]).class}}">{{system.view.modal.displayField(field, 1, system.view.modal.getHeaders(system._.commandeType)[$index + 1]).value}}</td>
								            <td>
								            	<div class="input-group add-on" ng-show="item._.wantBuy[1]" style="width: 100px">
													<input class="form-control" type="number" ng-model="item._.qte">
													 <div class="input-group-btn">
												        <button class="btn btn-success" ng-click="system.view.modal.buy(item, system.view.modal.getHeaders(system._.commandeType), 1)"><i class="fa fa-shopping-cart"></i></button>
												      </div>
												</div>
								            	<button ng-show="!item._.wantBuy[1]" ng-click="item._.wantBuy[1] = !item._.wantBuy[1]" class="btn btn-success btn-sm"><i class="fa fa-cart-arrow-down"></i> Acheter</button>
								            </td>
								        </tr>
								    </tbody>
								</table>
							</div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>